<?xml version="1.0" encoding="utf-8"?>
<pp>
	<app version="2.01">沪牌自动抢拍助手</app>
	<pos>
		<form>960,80,1860,780</form>
		<price>1580,310,1630,325</price>
		<inputprice>1568,449,1696,475</inputprice>
		<submitprice>1715,450,1790,478</submitprice>
		<inputvercode>1631,449,1762,485</inputvercode>
		<submitvercode>1449,533,1569,563</submitvercode>
		<inputaddprice>1585,347,1694,375</inputaddprice>
		<submitaddprice>1718,344,1790,372</submitaddprice>
	</pos>
	<token gettime="2019-05-19">24.b67d414f3f85a66d9cb3ef8564ac14f7.2592000.1560825578.282335-16197183</token>
	<strategy requestvercodetime="15" addprice="300">
		<strategy1 name="策略1" requestvercodetime="15" submitpricetime="3" addprice="500">离拍卖结束前15秒提交一个加500的价格；</strategy1>
		<strategy2 name="策略2" requestvercodetime="15" submitpricetime="3" addprice="500">离拍卖结束前15秒提交一个加500的价格；</strategy2>
		<strategy3 name="策略3" requestvercodetime="8" submitpricetime="3" addprice="400">离拍卖结束前8秒提交一个加400的价格；</strategy3>
	</strategy>
</pp>
